<!DOCTYPE html>
<html lang="en">
    <head>
        <meta httq-equiv="Content-Type" content="text/html; cjarset=UTF-8">
        <title>
            Blog : {% block title %}{% endblock %}
        </title>
        <body>
            <header>
                <nav>
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'admin:index' %}">Admin Login</a>
                    
                </nav>
                <article>
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </article>
                <footer></footer>
            </header>
        </body>
    </head>
</html>